.slider-container {
  width: 100%;
  height: 45vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #000000;
  /* padding: 20px; */
  box-sizing: border-box;
}

.slide {
  width: 100%;
  height: 40vw;
  background-color: #000000;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px
}
.main {
  padding: 50px;
  width: 50vw;
}
body.main-container {
  overflow: hidden;
}

.main-container .slide-container {
  height: 100vh;
  overflow-y: scroll;
}