.navi{
    font-size: 125%;
}
.navii{
    font-size: 150%;
    font-weight: bolder;
}
.navii:hover{
    font-size: 170%;
}
.naviii{
    font-size: 300%;
    font-weight: bolder;
}
.parallax {
    background-image: url('./assets/images.png');
    min-height: 40vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax1{
    background-image: url(./assets/Capture.PNG);
    min-height: 30vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2{
    background-image: url(./assets/images.png);
    height: 40vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
  .parallax3{
    background-image: url(./assets/wo.png);
    height: 25vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
  .parallax4{
    background-image: url(./assets/wor.png);
    height: 25vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
  .parallax5{
    background-image: url(./assets/wo.png);
    height: 25vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
.heading1{
    font-size: 3vw;
    font-weight: bolder;
    color: red;
    text-align: center;
    padding-right: 10vw;
    margin-bottom: 3vw;
}
.heading2{
    margin-bottom: 3vw;
    font-size: 3vw;
    font-weight: bolder;
    color: red;
    text-align: center;
    padding-right: 14vw;
}
.heading3{
    margin-bottom: 3vw;
    font-size: 3vw;
    font-weight: bolder;
    color: red;
    text-align: center;
    padding-right: 3vw;
}
.game1{
    padding: 5vw;
    height: 44vw;
    background-color: rgb(255, 255, 255);
    padding-left: 16vw;
}
.complete1{
    padding: 5vw;
    height: 90vw;
    background-color: rgb(255, 255, 255);
    padding-left: 17vw;
}
.base1{
    padding: 3vw;
    height: 44vw;
    background-color: rgb(255, 255, 255);
    padding-left: 2.2vw;
}
.game2{
    display: table-cell;
    width: 25vw;
}
.game3{
    display: table-cell;
    width: 25vw;
}
.game4{
    display: table-cell;
    width: 25vw;
}
.base2{
    display: table-cell;
    width: 15vw;
}
.base3{
    display: table-cell;
    width: 15vw;
}
.base4{
    display: table-cell;
    width: 15vw;
}
.base5{
    display: table-cell;
    width: 15vw;
}
.base6{
    display: table-cell;
    width: 15vw;
}
.base7{
    display: table-cell;
    width: 15vw;
}
.start{
    height: 40vw;
}
.car{
      padding-top: 5vw;
}
.projectbutton1{
    display: table-cell;
    padding-left: 18vw;
    width: 30vw;
}
.btnn{
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw;
    border-radius: 50%;
    background-color: rgb(114, 78, 235);
}
.projectbutton2{
    display: table-cell;
    padding-left: 18vw;
    width: 30vw;
}
.projectbutton3{
    display: table-cell;
    padding-left: 18vw;
    width: 20vw;
}
.contain{
    width: 20vw;
}
.arrow {
  text-align: center;
}
.text-container{
    padding-top: 8vw;
    position: fixed;
    display:block;
    left: 0;
    right: 0;
    bottom: 2;
}
#overview {
    position: relative;
    background-color: #fff;
  }
.intro1 {
  font-family: 'Monoton', cursive;
  text-align: center;
  color: rgb(61, 57, 57);
  font-size: 4vw;
  margin-right: 55vw;
  padding-left: 10vw;
  font-weight: bolder;
  cursor: grab;
  display:table-cell;
  width:30%;
}

.create{
    font-size: 1vw;
    font-weight: lighter;
    text-decoration: none;
}
.intro2{
    display:table-cell;
    width:40%;
    padding-left: 15vw;
}
.picture{
    height: 20vw;
}
.arow{
    color: rgb(49, 46, 46);
    margin-top: 5%;
    margin-bottom: 2%;
}

.left-box{
    float:left;  
    width:60%; 
}
.right-box{
    float:right; 
    width:40%; 
    height: 50vw;
}
.pic1{
    height: 27vw;
    border-radius: 50%;
    margin-top: 2vw;
}
.aboutinfo{
    margin-top: 8vw;
    margin-left: 20%;
    margin-right: 18%;
    font-size: 1.2vw;
    font-weight: bolder;
}
.skills{
    background-color: rgb(240, 240, 240);
    height: 45vw;
}
.aligning{
    display:table;
    width:100%;
    padding-left: 22%;
    padding-right: 10%;

}
.leftbox    {
    display:table-cell;
    width:50%;
    height: 12vw;
    padding-right: 15%;
    background-color: rgb(240, 240, 240);
    border: 0;
}

.rightbox  {
    display:table-cell;
    width:50%;
    height: 12vw;
    padding-right: 15%;
    background-color: rgb(240, 240, 240);
    border: 0;

}
.expertice{
    font-size: 2.7vw;
    font-weight: bold;
    margin-left: 37%;
    padding-top: 3vw;
    padding-bottom: 2%;
    color: black;
    text-align: center;
}
span{
    color: rgb(10, 149, 142);
    font-weight: bolder;
}
.lang{
    background-color: rgb(50, 114, 173);
    border-radius: 35%;
    padding: 0.4vw;
    font-weight: bold;
    font-size: 0.7vw;
    margin-left: 2%;
    margin-bottom: 2%;
}
.title{
    font-size: 2vw;
    color: black;
    font-weight: bold;
}
.about{
    font-size: 4vw;
    font-weight: bolder;
    text-align: center;
}

.thirdone{
    height: 30vw;
    text-align: center;
    font-size: 3vw;
    padding-top: 2%;
  }
  .leftbox3 { 
    float:left;  
    width:40%; 
    margin-left: 3%;
    margin-top: 1%;
    font-size: 3vw;
    text-align: right;
    font-weight: normal;
  } 
  .rightbox3{ 
    float:right; 
    width:30%; 
    font-size: 35%;
    text-align: left;
    margin-right: 12%;
    margin-top: 1%;
  } 
.contactid{
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: bold;
}
.projectmain{
    display: table;
}
.project{
    height: 1vw;
    background-color: rgb(44, 185, 178);
    width: 50vw;
    text-align: center;
    display: table-cell;
    
}
.project1{
    display: table-cell;
    width: 50vw;
}
.maincontent{
    font-size: 3vw;
    font-weight: normal;
    margin-top: 13vw;
    text-align: center;
}
.secondarycontent{
    font-size: 1vw;
    text-align: center;
}
.pict{
    height: 25vw;
    margin-bottom: 3vw;
}
.check{
    font-size: 350%;
    font-weight: bold;
}


.hovicon {
    display: inline-block;
    font-size: 2vw;
    padding-top: 1.5vw;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: rgb(0, 0, 0);
}

.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 1px;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hovicon.effect-4 {
    width: 7vw;
    height: 7vw;
    box-shadow: 0 0 0 4px rgb(44, 185, 178);
}

.hovicon.effect-4.sub-a {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.hovicon.effect-4:after {
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    border: 4px dashed rgb(44, 185, 178);

}
.hovicon.effect-4.sub-b:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    border: 4px dashed rgb(34, 41, 40);

}
.hovicon.effect-4.sub-b:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}



.left-box1{
    width:50vw;
    display: table-cell; 
    color: rgb(0, 0, 0);
    padding-bottom: 5vw;
}
.right-box1{
    display: table-cell;
    color: rgb(0, 0, 0);
    width:50vw; 
    padding-bottom: 5vw;
}
.pictu{
    height: 20vw;
}



  .outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-top: 9.7%;
    margin-bottom: 5%;
  }
  
  .inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  .footdown{
    min-height: 32.8vw;
}
.btview{
    text-align: center;
  }